/* CSS style sheet for Google Search page */

html {
    
    font-family: arial, sans-serif;
}

body {
    font-family: arial, sans-serif;
    background-color: white;
}


p {
    
    font-family: Arial, sans-serif;
    

}


/*Google logo */
#logo {
  display:block;
    justify-content: center;  
}

/* NAV BAR EFFECTS */

.nav-flex-container {
    display: flex; 
    flex-direction: space-between; 
    
    padding: 10px; 
    
    position: fixed; /* to position at top */
    width: 100%; 
    left: 0px; 
    top: 0px;
    
  }
  
      .nav-flex-container a { /* we cannot apply this to li, must apply separately to <a> nature are links */
         color: inherit; 
         text-decoration: none;
         

         
  
      }
  
      .nav-flex-child-1 {
        flex-grow: 1;
        
        display: flex; /* to align our text into the middle */
        align-items: center; 

        
        
      }
  
      .nav-flex-child-2 {
        flex-grow: 1; 
        padding-right: 15px; /* spacing from the edge */

        
    
      }


      /*nav bar links */

      .nav-bar-left {
          list-style-type: none;
          margin: 0;
          padding: 0;

          text-align: left;
      }

      .nav-bar-right {
          list-style: none;
          margin: 0;
          padding: 0;

          text-align: right;
      }

      .nav-flex-container li {
          display: inline-block; /*makes list items placed horizontally */

          padding: 5px;

          margin: 0 5px;

          color: #222222;
          font-size: 14px;
      }


            .nav-flex-container li:hover { /*for hover effects */
                text-decoration: underline;
            }
        .square-icon {
            width: 24px;
            height: 24px;
        }

        .profile-icon {
            width: 32px;
            height: 32px;
        }
  /* Search */
  #search {
      width: auto;
      max-width: 584px;
      height: 44px;
      border-radius: 24px;
      border: 1px solid #dfe1e5;
     
}

/*Footer and accompanying text*/

#bottom li {
    text-decoration: none;
    font-size: 14px;
    list-style-type: none;
    
}

#bottom ul {
    font-size: 10px;
    
}
#carbon {
    font-size: 14px;
    display:flex;
    align-self: center; 
}

#footer-text {
    display: flex;
    justify-content: space-between;
}