/* CSS style sheet for Google Search page */

html {
    font-size: 120px;
    font-family: Arial, sans-serif;
}

p {
    font-size: 60px;
    font-family: Arial, sans-serif;
    justify-content: center;

}


/*Google logo */
#logo {
  display:block;
    justify-content: center;  
}

/* Navbar */
#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    font-size: 45px;
    width: 100%;
    display: flex;
    align-items: center;

  }
  .nav-link {
    text-decoration: none;
    color: #222;
    font-size: 14px;
    
  }


  /* Search */
  #search {
      width: auto;
      max-width: 584px;
      height: 44px;
      border-radius: 24px;
      border: 1px solid #dfe1e5;
     
}

/*Footer and accompanying text*/

#bottom li {
    text-decoration: none;
    font-size: 14px;
    list-style-type: none;
    
}

#bottom ul {
    font-size: 10px;
    
}
#carbon {
    font-size: 14px;
    display:flex;
    align-self: center;
}